{% extends "layout.html" %}

{% block pageTitle %}
  Companies House API data for prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Companies House API data for prototypes
      </h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Get company information using company number lookup</a>
        </li>
        <li>
          <a href="">Get registered office address</a>
        </li>
        <li>
          <a href="">Get company officers</a>
        </li>
        <li>
          <a href="">Get insolvency information</a>
        </li>
        <li>
          <a href="">List of charges for a company</a>
        </li>
        <li>
          <a href="">The filing history list of a company</a>
        </li>
        <li>
          <a href="">List of all officer appointments</a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Persons with significant control</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="">List of all persons with significant control (not statements)</a>
        </li>
        <li>
          <a href="">Get details of an individual person with significant control</a>
        </li>
        <li>
          <a href="">Get details of a corporate entity with significant control</a>
        </li>
        <li>
          <a href="">Get details of a legal person with significant control</a>
        </li>
        <li>
          <a href="">List of all persons with significant control statements</a>
        </li>
        <li>
          <a href="">Get details of a person with significant control statement</a>
        </li>
        <li>
          <a href="">Get details of a super secure person with significant control</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}